.object {
  color: #15879e;
}

.apiobject {
  color: #800000;
  font-family: monospace;
  -webkit-hyphens: none; /* для Safari */
  -moz-hyphens: none;    /* для Firefox (старые версии, современные поддерживают 'hyphens') */
  -ms-hyphens: none;     /* для IE/Edge (старые версии) */
  hyphens: none;         /* Стандартное свойство */
  word-break: keep-all;
}

.red-text {
  color: red;
}

.yellow-text {
  color: #fc0;
}

.purple-text {
  color: purple;
}

.green-text {
  color: green;
}

.orange-text {
  color: orange;
}

.article-content p,
.article-content li,
.article-content dd,
.article-content dt,
.article-content td,
.article-content th,
.article-content span,
.article-content div,
.article-content .admonitionblock td.content,
.article-content .exampleblock > .content,
.article-content .sidebarblock > .content,
.article-content .quoteblock .paragraph,
.article-content figcaption,
.article-content blockquote,
.article-content pre,
.article-content code {
  -webkit-hyphens: none; /* Safari */
  -moz-hyphens: none; /* Firefox (старые версии) */
  -ms-hyphens: none; /* IE/Edge (старые версии) */
  hyphens: none; /* Стандартное свойство */
}
