.object {
  color: #15879e;
}

.apiobject {
  color: #800000;
  font-family: monospace;
}

.red-text {
  color: red;
}

.yellow-text {
  color: #fc0;
}

.purple-text {
  color: purple;
}

.green-text {
  color: green;
}

.orange-text {
  color: orange;
}

.doc .article-content p,
.doc .article-content code {
  hyphens: none !important;
  word-break: keep-all !important;
}
