.object {
  color: #15879e;
}

.apiobject {
  color: #800000;
  font-family: monospace;
  -webkit-hyphens: none; /* для Safari */
  -moz-hyphens: none;    /* для Firefox (старые версии, современные поддерживают 'hyphens') */
  -ms-hyphens: none;     /* для IE/Edge (старые версии) */
  hyphens: none;         /* Стандартное свойство */
  word-break: keep-all;
}

.red-text {
  color: red;
}

.yellow-text {
  color: #fc0;
}

.purple-text {
  color: purple;
}

.green-text {
  color: green;
}

.orange-text {
  color: orange;
}

.doc p,
.doc dl,
.li,
.dd,
.dt,
.td,
.th,
.span,
.div,
.admonitionblock td.content,
.exampleblock > .content,
.sidebarblock > .content,
.quoteblock .paragraph,
.figcaption,
.blockquote,
.pre,
.code {
  -webkit-hyphens: none; /* Safari */
  -moz-hyphens: none; /* Firefox (старые версии) */
  -ms-hyphens: none; /* IE/Edge (старые версии) */
  hyphens: none; /* Стандартное свойство */
  word-break: keep-all;
}

div.listingblock pre {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

table.tableblock > thead > tr {
  background-color: #c0c0c0;
}
